body {
  margin: 0;
  padding: 0;
 /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  /*background: linear-gradient(90deg, rgb(144, 208, 250) 0%, rgb(132, 250, 176) 100%);*background: linear-gradient(90deg, rgb(252, 123, 123) 0%, rgb(166, 193, 255) 100%); 
background: -webkit-linear-gradient(90deg, rgb(252, 123, 123) 0%, rgb(166, 193, 255) 100%); 
background: linear-gradient(90deg, rgb(100, 1, 255) 0%, rgb(139, 252, 254) 100%); 
background: -webkit-linear-gradient(90deg, rgb(100, 1, 255) 0%, rgb(139, 252, 254) 100%); */

background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


/*background: #403A3E;  
background: -webkit-linear-gradient(to left, #BE5869, #403A3E);
background: linear-gradient(to left, #BE5869, #403A3E); 
*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
